---
import { fetchCatalogue } from "../../scripts/fetch";
import CatalogueSection from "../../components/sections/CatalogueSection.astro";

export async function getStaticPaths() {
  const catalogue = await fetchCatalogue();
  console.log(catalogue);
  return catalogue.map((release) => ({
    params: { slug: release.slug },
    props: release,
  }));
}

const release = Astro.props;
---

<h2>{release.title}</h2>
