---
import { fetchCatalogue } from "../../scripts/fetch";

export async function getStaticPaths() {
  const catalogue = await fetchCatalogue();
  return catalogue.map((release) => ({
    params: { slug: release.slug },
    props: release,
  }));
}

const release = Astro.props;
---

<h2>{release.title}</h2>