---
interface Props {
  label: string;
  ariaLabel: string;
  modal: string;
}

const { label, ariaLabel, modal } = Astro.props;
---

<button class="navigation-link" aria-label={ariaLabel} data-modal={modal}>
  <span>
    <div class="label">{label}</div>
  </span>
</button>

<style>
  .navigation-link {
    font-size: 0.925rem;
    font-weight: 400;
    letter-spacing: 0.02em;
    cursor: pointer;
    overflow: hidden;
    position: relative;
    will-change: transform;

    .label {
      padding: 0.25rem 0.75rem;
      pointer-events: none;
      will-change: transform;
    }
  }
</style>
