---
import StarSVG from "../svgs/StarSVG.astro";

interface Props {
  label: string;
  ariaLabel: string;
  href: string;
}

const { label, ariaLabel, href } = Astro.props as Props;
---

<a class="button--display" aria-label={ariaLabel} href={href}>
  <div class="star-w">
    <StarSVG width="1rem" />
  </div>
  <div class="label">{label}</div>
  <div class="star-w">
    <StarSVG width="1rem" />
  </div>
</a>

<style lang="scss">
  .button--display {
    $padding: 0.15rem;
    $padding-right: 1.5rem;
    $star-width: 3rem;

    gap: 1rem;
    border: 1px solid var(--button-glass-outline);
    color: 1px solid var(--text);
    background-color: var(--button-glass-bg);
    border-radius: var(--radius-circular);
    justify-content: center;
    align-items: center;
    padding: $padding $padding $padding $padding-right;
    transition: all 0.25s;
    display: flex;
    position: relative;
    overflow: clip;
    justify-self: start;
    transform: translate(0);
    letter-spacing: -0.02em;
    font-family: var(--editorial-old);
    font-size: 1.6rem;
    font-style: italic;
    font-weight: 200;
    line-height: 100%;
    cursor: pointer;

    .star-w,
    .label {
      transition: transform 0.3s var(--easing-small);
    }

    &:hover {
      border-color: var(--button-solid-bg);
      background-color: var(--button-glass-hover);

      .star-w {
        transform: translateX(calc($star-width + $padding));
      }

      .label {
        transform: translateX(calc($star-width - ($padding * 2)));
      }
    }

    .label {
      padding-bottom: 0.05rem;
    }

    .star-w {
      display: flex;
      width: $star-width;
      aspect-ratio: 1 / 1;
      background-color: var(--button-solid-bg);
      color: var(--button-solid-text);
      border-radius: var(--radius-circular);
      flex: none;
      justify-content: center;
      align-items: center;

      &:nth-child(1) {
        position: absolute;
        top: auto;
        bottom: auto;
        left: -3rem;
        right: auto;
      }
    }
  }
</style>
