/* Prevent Highlight */
@mixin noselect {
    /* iOS Safari */
    -webkit-touch-callout: none;

    /* Safari */
    -webkit-user-select: none;

    /* Konqueror HTML */
    -khtml-user-select: none;

    /* Old versions of Firefox */
    -moz-user-select: none;

    /* Internet Explorer/Edge */
    -ms-user-select: none;

    /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
    user-select: none;
}

/* Mix-In for GSAP Flicker Fix */
@mixin flicker-fix {
    -webkit-transform-style: preserve-3d;
    -webkit-backface-visibility: hidden;
    -webkit-transform: translate3d(0, 0, 0);
}

/* Mix-In to Importantise All Elements */
@mixin importantize($properties) {
    @each $property, $value in $properties {
        #{$property}: #{$value} !important;
    }
}