---
import { fetchStrapiData } from "../../scripts/wp-api";

interface ProductObject {
  name: string;
  collection?: string;
  alt?: string;
}

interface Props {
  product: ProductObject;
}

/* const { product } = Astro.props; */

const data = await fetchStrapiData("products?populate=*");
console.log(data.data[0].attributes);
---

<div class="merch-card">
  <div class="info-w">
    <div class="desc-w">
      <a
        class="title-link"
        href="<?php echo esc_url( apply_filters( 'woocommerce_loop_product_link', get_the_permalink(), $product ) ); ?>"
        ><!--?php wc_get_template( 'loop/title.php' ) ?--></a
      >
      <!--?php get_template_part ('/partials/components/divider'); ?-->
      <div class="meta-w">
        <!--?php $terms = get_the_terms( get_the_ID(), 'product_cat' ) ?-->
        <!--?php if( !empty( $terms ) ) : ?-->
        <!--?php foreach( $terms as $term_i =--> $term ) : ?>
        <!--?php if( $term_i == 0 ) : ?-->
        <div class="heading-300" rel="tag" data="category">
          <!--?php echo $term--->name; ?>
        </div>
        <!--?php endif; ?-->
        <!--?php endforeach; ?-->
        <!--?php endif; ?-->
        <!--?php wc_get_template( 'loop/short-description.php' ) ?-->
      </div>
    </div>
    <a
      href="<?php echo esc_url( apply_filters( 'woocommerce_loop_product_link', get_the_permalink(), $product ) ); ?>"
      class="button--display secondary"
    >
      <div class="star-w" hidden>
        <!--?php get_template_part( '/partials/svg/star' ); ?-->
      </div>
      <div label>
        <!--?php _e( 'Shop', 'ayayves' ); ?-->
      </div>
      <div class="star-w">
        <!--?php get_template_part( '/partials/svg/star' ); ?-->
      </div>
    </a>
  </div>
  <a
    href="<?php echo esc_url( apply_filters( 'woocommerce_loop_product_link', get_the_permalink(), $product ) ); ?>"
    class="img-w"
    ><img
      loading="lazy"
      class="img"
      src="<?php $image_id = get_post_thumbnail_id( $product->get_id() ); echo pull_image($image_id); ?>"
      decoding="async"
      sizes="360px"
    /></a
  >
</div>
