---
import { fetchStrapiData, createImageObject } from "../../scripts/fetch";
import ImageWellmade from "../atoms/ImageWellmade.astro";

const data = await fetchStrapiData("homepage?populate=*");
const objects = data.data.attributes;

const imageFirst = createImageObject(objects.doublecard_image_first);
const imageSecond = createImageObject(objects.doublecard_image_second);
---

<section class="section-doublecard">
  <div class="card-w">
    <div class="card">
      <ImageWellmade image={imageFirst} sizes="60vw" />
    </div>
    <div class="card">
      <ImageWellmade image={imageSecond} sizes="50vw" />
    </div>
  </div>
</section>

<style lang="scss">
  @use "../../styles/vars" as *;

  .section-doublecard {
    margin: 0 auto;
    padding: 0 calc(2 * var(--page-margin)) 20vw;

    @media (max-width: $phablet) {
      padding: 0 var(--page-margin) 20vw;
    }

    .card-w {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      justify-content: center;
      container-type: inline-size;
    }

    .card {
      --firstWidth: 60cqw;
      --negativeMargin: -9cqw;
      --secondWidth: calc(100cqw - var(--firstWidth) - var(--negativeMargin));
      width: var(--firstWidth);
      overflow: clip;
      position: relative;
      aspect-ratio: 1 / 1.35;
      flex: none;
      border-radius: var(--radius-medium);
      align-self: start;
      margin-bottom: -10vw;

      &:nth-child(1) {
        img {
          top: auto;
          bottom: 0;
          height: 110%;
        }

        @media (max-width: $phablet) {
          --firstWidth: 70cqw;
        }
      }

      &:nth-child(2) {
        width: var(--secondWidth);
        aspect-ratio: 1 / 1.3;
        align-self: end;

        @media (max-width: $tablet) {
          --negativeMargin: -16cqw;
        }

        @media (max-width: $phablet) {
          --negativeMargin: -22cqw;
        }

        @media (max-width: $mobile) {
          --negativeMargin: -22cqw;
        }
      }

      img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }
    }
  }
</style>

<script>
  import { gsap } from "gsap";
  import { ScrollTrigger } from "gsap/ScrollTrigger";
  import { imageParallax } from "../../scripts/animations";

  gsap.registerPlugin(ScrollTrigger);

  function initDoubleCardSection() {
    const doublecardSection = document.querySelector(".section-doublecard");

    if (doublecardSection) {
      const cards = doublecardSection.querySelectorAll(".card");

      gsap
        .timeline({
          scrollTrigger: {
            trigger: doublecardSection,
            start: "top bottom",
            end: "bottom top",
            scrub: true,
          },
        })

        .fromTo(cards[0], { y: "10%" }, { y: "0%", ease: "none" }, "start")
        .fromTo(
          cards[1],
          { y: "0%" },
          { y: "-60%", ease: "power1.in" },
          "start"
        );

      imageParallax(
        document.querySelector(".section-doublecard img"),
        "top bottom",
        "bottom top",
        "0%",
        "10%"
      );
    }
  }

  initDoubleCardSection();
</script>
