---
import Layout from "../layouts/Layout.astro";
import DisplayCarousel from "../components/sections/DisplayCarousel.astro";
import CatalogueSlider from "../components/atoms/carousels/CatalogueSlider.astro";
---

<Layout title="Catalogue">
  <main>
    <DisplayCarousel headingFirst="Catalogue" headingSecond="Discography">
      <CatalogueSlider isDisplayCarousel />
    </DisplayCarousel>
  </main>
</Layout>
