---
import Layout from "../layouts/Layout.astro";
import HeroSection from "../components/sections/HeroSection.astro";
---

<Layout title="Aya Yves">
  <main>
    <HeroSection>
      <p>This is some text</p>
    </HeroSection>
  </main>
</Layout>
