---
import TestingLayout from "../layouts/TestingLayout.astro";
import ModalSkeleton from "../components/atoms/modals/ModalSkeleton.astro";
import ContactModal from "../components/atoms/modals/ContactModal.astro";

const STRAPI_API_URL = import.meta.env.STRAPI_API_URL;
---

<TestingLayout title="Aya Yves">
  <main>
    <button data-modal="contact">Open</button>
    <ContactModal />
  </main>
</TestingLayout>

<style lang="scss">
  @use "../styles/vars" as *;

  main {
    min-height: 200vh;
  }

  button {
    background-color: white;
    color: black;
    padding: 1rem;
  }
</style>
