---
import Layout from "../layouts/Layout.astro";
import CatalogueModal from "../components/atoms/modals/CatalogueModal.astro";
import { fetchCatalogue } from "../scripts/fetch";

const catalogue = await fetchCatalogue();

const release = catalogue[0];
---

<Layout title="Aya Yves">
    <main>
        <button id="release-test">Open Test Modal</button>
        <CatalogueModal release={release} />
    </main>
</Layout>

<style lang="scss">
  @use "../styles/vars" as *;

  main {
    min-height: 200vh;
  }

  button {
    margin-top: 20vh;
    background-color: white;
    color: black;
    padding: 1rem;
  }
</style>

<script>
    const button = document.getElementById("release-test");
    const modal = document.querySelector('dialog');

    button?.addEventListener("click", () => {
        modal?.showModal();
    })


    // Variable Declarations
  const contactModal: HTMLDialogElement | null = document.querySelector(
    'dialog[data-modal="contact"]'
  );
  const contactButtons = document.querySelectorAll(
    'button[data-modal="contact"]'
  );

  // Add Event Listeners to all Contact Buttons
  contactButtons.forEach((contactButton) => {
    contactButton.addEventListener("click", () => {
      contactModal?.showModal();
    });
  });

</script>

