---
import Layout from "../layouts/Layout.astro";
import MerchCard from "../components/cards/MerchCard.astro";
---

<Layout title="Aya Yves">
  <main>
    <MerchCard />
  </main>
</Layout>

<style>
  main {
    padding-top: 200px;
  }
</style>
