---

---

<div class="navigation-menu">
  <div class="menu-content">
    <div class="image-col">
      <div class="img-w">
        <img sizes="(min-width: 990px) 420px, (min-width: 800px) 36vw, 0px" />
      </div>
      <div class="img-w">
        <img sizes="(min-width: 990px) 420px, (min-width: 800px) 36vw, 0px" />
      </div>
    </div>
    <div class="links-col">
      <div class="primary-links-w">
        <a class="primary-link" href="/release/">
          <div class="label">Catalogue</div>
        </a>
        <a class="primary-link" aria-role="button"
          ><div class="label">Contact</div>
        </a>
        <a class="primary-link" href="/shop/">
          <div class="label">Merch</div>
        </a>
      </div>
      <div class="secondary-links-w">
        <a
          class="secondary-link"
          href="https://open.spotify.com/artist/2Mgm4AwTZRFzZV0Dc3MI3n?si=bEQN7ainTkqpXOlfGLoHBA"
          target="_blank"
          ><div class="label">
            <!--?php _e( 'Spotify', 'ayayves' ); ?-->
          </div></a
        >
        <a
          class="secondary-link"
          href="https://www.instagram.com/ayayvesmusic/"
          target="_blank"
          ><div class="label">
            <!--?php _e( 'Instagram', 'ayayves' ); ?-->
          </div></a
        ><a
          class="secondary-link"
          href="https://music.apple.com/au/artist/aya-yves/1502547272"
          target="_blank"
          ><div class="label">
            <!--?php _e( 'Apple Music', 'ayayves' ); ?-->
          </div></a
        >
        <a
          class="secondary-link"
          href="https://www.facebook.com/ayayvesmusic/"
          target="_blank"
          ><div class="label">
            <!--?php _e( 'Facebook', 'ayayves' ); ?-->
          </div></a
        ><a
          class="secondary-link"
          href="https://www.abc.net.au/triplejunearthed/artist/aya-yves/"
          target="_blank"
          ><div class="label">
            <!--?php _e( 'Unearthed', 'ayayves' ); ?-->
          </div></a
        >
        <a
          class="secondary-link"
          href="https://www.tiktok.com/@ayayvesmusic"
          target="_blank"
          ><div class="label">
            <!--?php _e( 'TikTok', 'ayayves' ); ?-->
          </div></a
        ><a
          class="secondary-link"
          href="https://www.youtube.com/ayayves"
          target="_blank"
          ><div class="label">
            <!--?php _e( 'YouTube', 'ayayves' ); ?-->
          </div></a
        >
      </div>
    </div>
  </div>
  <div class="menu-footer">
    <div class="p2">
      <!--?php _e( 'Aya Yves 2024', 'ayayves' ); ?-->
    </div>
    <div class="p2">
      <!--?php _e( 'Site by Wellmade', 'ayayves' ); ?-->
    </div>
  </div>
</div>

<style lang="scss">
  .navigation-menu {
    display: flex;
    position: fixed;
    flex-direction: column;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--bg-dark);
    padding-top: var(--nav-height);
    clip-path: inset(0 0 100% 0);
    display: none;
    z-index: 10;

    .menu-content {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: clamp(6rem, 7.5vw, 8rem);
      padding: 0 var(--page-margin);
      flex-grow: 1;

      @media (max-width: var(--tablet)) {
        gap: clamp(4rem, 7.5vw, 6rem);
      }

      @media (max-width: var(--phablet)) {
        justify-content: start;
        align-items: start;
        padding-top: 1.25rem;
      }

      .image-col {
        --corner-gap: 3.5rem;
        --card-height: clamp(25rem, 60vh, 35rem);
        --card-width: calc(var(--card-height) * 0.725);
        display: flex;
        position: relative;
        justify-content: center;
        align-items: center;
        width: calc(var(--corner-gap) + var(--card-width));
        height: calc(var(--corner-gap) + var(--card-height));
        max-height: calc(100vh - (2 * var(--nav-height)));

        @media (max-width: var(--tablet)) {
          --corner-gap: 2rem;
          --card-height: 50vw /* calc(20rem, 25vw, 25rem) */;
          --card-width: calc(var(--card-height) * 0.725);
        }

        @media (max-width: var(--phablet)) {
          display: none;
        }

        .img-w {
          height: 100%;
          border-radius: var(--radius-small);
          overflow: hidden;
          width: var(--card-width);
          height: var(--card-height);
          position: absolute;
          max-height: 100%;

          &:nth-child(1) {
            bottom: var(--corner-gap);
            left: var(--corner-gap);
          }

          &:nth-child(2) {
            bottom: 0;
            left: 0;
          }

          img {
            height: 100%;
            width: 100%;
            -o-object-fit: cover;
            object-fit: cover;
          }
        }
      }

      .links-col {
        display: flex;
        flex-direction: column;
        gap: 2rem;
        padding-bottom: 2rem;
        padding-right: 4rem;

        @media (max-width: var(--tablet)) {
          gap: 1.5rem;
          padding-right: 3rem;
        }

        .primary-links-w {
          display: flex;
          flex-direction: column;

          .primary-link {
            font-size: 3.5rem;
            cursor: pointer;
            overflow: hidden;

            &:nth-child(1),
            &:nth-child(2) {
              padding-bottom: 0.85rem;
            }

            @media (max-width: var(--tablet)) {
              font-size: 3rem;
            }

            .label {
              padding-bottom: 0.15rem;
              pointer-events: none;
            }
          }
        }

        .secondary-links-w {
          display: grid;
          grid-template-columns: 1fr 1fr;
          grid-auto-flow: row;
          -moz-column-gap: 4rem;
          column-gap: 4rem;

          .secondary-link {
            font-size: 1rem;
            letter-spacing: 0.01em;
            color: var(--text-secondary);
            position: relative;
            cursor: pointer;
            overflow: hidden;
            transition: color 0.1s;

            &:hover {
              color: var(--text);
            }

            .label {
              padding: 0.45rem 0;
              pointer-events: none;
            }
          }
        }
      }
    }
  }

  .menu-footer {
    display: flex;
    justify-content: space-between;
    padding: 0 var(--page-margin) 2.25rem;
  }
</style>
