---
import { fetchProducts } from "../../scripts/wp-api";

export async function getStaticPaths() {
  const products = await fetchProducts();
  return products.map((product) => ({
    params: { slug: product.slug },
    props: product,
  }));
}

const product = Astro.props;
---

<h2>{product.name}</h2>
