---
import Navigation from "../components/navigation/Navigation.astro";
import FooterSection from "../components/sections/FooterSection.astro";
import ContactModal from "../components/atoms/modals/ContactModal.astro";
import MailchimpModal from "../components/atoms/modals/MailchimpModal.astro";

interface Props {
	title: string;
	compactNavBar?: boolean;
}

const { title, compactNavBar } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta
			name="generator"
			content="width=device-width, initial-scale=1, maximum-scale=1"
		/>
		<title>{title}</title>
	</head>

	<body>
		{compactNavBar ? <Navigation mobileOnDesktop /> : <Navigation />}
		<main>
			<slot />
			<FooterSection />
		</main>
		<ContactModal />
		<MailchimpModal />
		<script>
			import "../scripts/init.js";
			import { initSnipcart } from "../scripts/snipcart";
			initSnipcart();
		</script>
		<style is:global lang="scss">
			@use "../styles/vars" as *;
			@import "/src/styles/global.scss";
		</style>
	</body>
</html>
