---
import Navigation from "../components/navigation/Navigation.astro";
import FooterSection from "../components/sections/FooterSection.astro";
interface Props {
  title: string;
}
import ContactModal from "../components/atoms/modals/ContactModal.astro";

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <script src="https://cdn.snipcart.com/themes/v3.4.0/default/snipcart.js"
    ></script>

    <title>{title}</title>
  </head>
  <body>
    <Navigation />
    <main>
      <slot />
      <FooterSection />
    </main>
    <ContactModal />
    <script>
      import "../scripts/init.js";
    </script>
  </body>
  <script>
    import { initSnipcart } from "../scripts/snipcart";
    initSnipcart();
  </script>

  <style is:global lang="scss">
    @use "../styles/vars" as *;
    @import "/src/styles/global.scss";
  </style>
</html>
